/public/robots.txt
.*.swp
#/public/files
password
nbproject
.*.swo
assignment submissision
#/public/javascripts/ckeditor/config.js
public/cache/*
*.log
#/public/images/theme
config/mail.yml
#/public/stylesheets/theme
db/*.sqlite*
db/schema.rb
.DS_Store
tmp/*
.rbenv-version
.rspec
#/public/javascripts/ckeditor/config.bak
bin/
.bundle/
installer/rails_installer.yml
/coverage/
*~
/public/stylesheets/all.css
/public/javascripts/all.js